.form {

  aside {
    position: absolute;
    left: 150px;
    height: calc(100vh - 80px);
    padding-top: 100px;
    background-color: #fff;

    .cl-cardBox {
      box-shadow: none;
    }

    /* .cl-internal-b3fm6y {
      display: none;
    } */
  }
}
